* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 5px;
}

.flex-box {
  width: 250px;
  display: flex;
  align-items: center;
}

/* Elements */
.search-input {
  margin-left: 20px;
  width: 200px;
  padding: 0.4rem;
  border-radius: 0.8rem;
}

.country-list {
  margin-top: 30px;
}
